
<!--ここに製作者情報ページ-->

<style>
	.main{
		width: 100%;
	}
	.space{
		height: 100px;
		background-color: #f2eddf;
	}

	.contents-wrapper{
		background-color: white;
		display: flex;
   		margin: 0;
   		padding: 100px 0;
	}
	.block-a{
		width: 50%;
		display: inline-block;
	}

	.block-b{

		display: inline-block;
	}

	.block p{
		font-size: 0.95rem;
		line-height: 1.6rem;
		color: #666;
	}

	.block h2{
		font-size: 1.5rem;
		font-weight: bold;
		margin-bottom: 20px;
	}
	.sub-text{
		font-size: 0.85rem;
		color: #b8b8b8;
		font-weight: normal;
	}
</style>


<div class="main">

	<div class="space">
	</div>
	<div class="container">
		<div class="contents-wrapper">
			<div class="block block-a">
				<h2 class="title">製作者情報<span class="sub-text">（2019年1月現在）</span></h2>
				<p>九州大学大学院芸術工学研究院2018年度卒業制作</p><br>
				制作：江頭 奈未<br>
				<span class="sub-text">（九州大学大学院芸術工学専攻コンテンツ・クリエーティブデザインコース2年）</span><br>
				指導：伊原 久裕<br>
				<span class="sub-text">（芸術工学研究院 コンテンツ・クリエーティブデザイン部門　教授）</span></p><br>
				<p>システム開発：前島 光</p>
			</div>
			<div class="block block-b">
				<h2 class="title">主な参考文献</h2>
				<p>
				佐田茂，宮島敬一， 杉谷昭，神山恒雄（2014）『佐賀県の歴史』山川出版社<br>
				（2013）『詳説　日本史B』山川出版社<br>
				（2001）『さが100年の物語　20世紀の群像』佐賀新聞社<br>
				久我俊郎，富岡行昌（2011）『図説　唐津・伊万里・有田の歴史』郷土出版社<br>
				永島順子（2017）『佐賀の注目21社　志ある誠実な経営力で地元を守り立てる』ダイヤモンド社<br>
				（2018）『さが維新前夜』佐賀新聞社<br>
				佐賀県高等学校地歴・公民部会歴史部会（2012）『佐賀県の歴史散歩』山川出版社<br>
				金子信二（2007）『佐賀読本』出門堂
				</p>
				<br>

				<p>
				杉谷昭（2011）『佐賀偉人伝01　鍋島直正』佐賀県立佐賀城本丸歴史館<br>
				島義高（2011）『佐賀偉人伝02　大隈重信』佐賀県立佐賀城本丸歴史館<br>
				松本誠一（2011）『佐賀偉人伝03　岡田三郎助』佐賀県立佐賀城本丸歴史館<br>
				川副義敦（2011）『佐賀偉人伝04　平山醇左衛門』佐賀県立佐賀城本丸歴史館<br>
				榎本洋介（2011）『佐賀偉人伝05　島義勇』佐賀県立佐賀城本丸歴史館<br>
				重松優（2012）『佐賀偉人伝06　大木喬任』佐賀県立佐賀城本丸歴史館<br>
				星原大輔（2012）『佐賀偉人伝07　江藤新平』佐賀県立佐賀城本丸歴史館<br>
				河上眞理 清水重敦（2014）『佐賀偉人伝08　辰野金吾』佐賀県立佐賀城本丸歴史館<br>
				國雄行（2013）『佐賀偉人伝09　佐野常民』佐賀県立佐賀城本丸歴史館<br>
				三好信浩（2013）『佐賀偉人伝10　納富介次郎』佐賀県立佐賀城本丸歴史館<br>
				高橋博巳（2013）『佐賀偉人伝11　草場佩川』佐賀県立佐賀城本丸歴史館<br>
					齋藤洋子 森田朋子（2014）『佐賀偉人伝12　副島種臣』佐賀県立佐賀城本丸歴史館<br>
				青木歳幸（2014）『佐賀偉人伝13　伊東玄朴』佐賀県立佐賀城本丸歴史館<br>
				大園隆二郎（2015）『佐賀偉人伝14　枝吉神陽』佐賀県立佐賀城本丸歴史館<br>
				生馬寛信（2015）『佐賀偉人伝15　古賀穀堂』佐賀県立佐賀城本丸歴史館
				</p>
				<br>

				<p>佐賀市「さがの歴史・文化お宝帳」 https://www.saga-otakara.jp/</p>
				<p>佐賀大学地域コンテンツデザイン研究所「佐賀デジタルミュージアム」http://www.saga-els.com/sdm/</p><br>


				<p>※その他詳細な参考文献のページ数、および参考webページ等は各記事下部に記しています。</p>

			</div>
		</div>
	</div>
	<div class="space">
	</div>
