<%#ログイン画面%>

<div class="container mt-5 pt-5">
  ログインしてね
  <%= form_tag("authorize") do %>
  <form>
   <div class="form-group">
    <input type="password" name="password" />
   </div>
   <button type="submit" class="btn btn-primary">ログイン</button>
  <% end %>
</div>
