//よく使う変数
//color
$white: #fff;
$black: #000;
$odd: #ede5d0;
$even: #e2dfd7;
//テキトー
$government: #d43a52;
$economy: #817cc0;
$technology: #429ade;
$culture: #c6d443;
$religion: #30c0a9;

$header: 3.47rem;

@mixin hover {
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
