/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require quill.snow
 */

@import "bootstrap";
@import "variable";


//共通レイアウトをここに書く
//application.html.erb や
//_article.html.erbを参照する

//ヘッダ
header {
  height: $header;
  width: 100%;
  background-color: $white;
  border-bottom: solid 3px #000;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  div {
    padding-top: 1rem;
    display: flex;
  	justify-content: space-between;
    font-weight: bold;
    nav a{
        padding: .3rem;
        color: $black; //TODO:: hoverの動作
    }
  }
}

//ヘッダー右のドロップダウン
.nav-right ul {
  display: flex;
  height: 100%;
  a {
    padding:  .3rem 1rem;
    display: block;
  	color: #333;
  	padding: 0 15px;
  }
  li {
    &:hover > ul {
      display: flex;
      justify-content: space-around;
    }
  }
  ul {
    display: none;
    &:hover {
      display: flex;
      justify-content: space-around;
    }
    width: 100vw;
    top: 3.45rem;
    left: 0;
    background: $white;
    li {
      text-align: center;
      width: 100%;
      height: $header;
      a {
        width: 100%;
        height: 100%;
        line-height: $header;
        &:hover {
          background-color: #ccc;
        }
      }
    }
  }
}

//一時代ごとの高さを100vhに
.article {
  height: 100vh;
}

//地図とドット
//#!!!! 元の画像の比率が 1640 × 1750 なので、縮尺合わせて指定すること
.gio, .gio-dot {
  width: 1065px;
  height: 669px;
//  top: -30px;
  left: -25px;
}

.dot {
 font-size: 1.5rem;
 z-index: 10000;
 display: block;
}

//サイドバー
.sidebar {
  position: fixed;
  z-index: 1500;
  left: 70px;
  top: 100px;
  width: 200px;

  .ruler {
    border-left: solid 8px #000;
    height: 110vh;
    top: 0;
    margin-top: -10vh;
    float: left;
  }
}


//サイドバーの目盛り
.scale {
  display: flex;
  left: 63px;
  z-index: 100;
  &.scale-top {
    top: 12%;
  }
  &.scale-bottom {
    top: 90%;
  }
}
.scale-bar {
  width: 50px;
  height: 8px;
  background-color: #000;
}


//サイドナビゲーション
.navigation{
    padding: 20px;
    position: fixed;
    left: 5%;
    top: 15%;
    z-index: 5000;
    li {
      list-style-type: none;
      margin-bottom: 20px;
      a.navigation-link{
        display: inline-block;
        &:hover{
          color: #f34;
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
}


.navigation-dot{
    border: 1px solid #000;
    border-radius: 1rem;
    display: inline-block;
    background: #fff;
    height: 0.8rem;
    width: 0.8rem;
    &.active {
      background: #000;
    }
}
