/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require quill.snow
 */

@import "bootstrap";
@import "variable";


//共通レイアウトをここに書く
//application.html.erb や
//_article.html.erbを参照する

//ヘッダ
header {
  height: $header;
  width: 100%;
  background-color: $white;
  border-bottom: solid 3px #000;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  div {
    padding-top: 1rem;
    display: flex;
  	justify-content: space-between;
    font-weight: bold;
    .nav-right-partition{
    font-size: 2rem;
    font-weight: normal;
    margin: 0 20px;
    vertical-align: middle;
    line-height: 1.1rem
    }
    .notes{
      color: #ccc;
      &:hover{
        color: #ccc;
      }
    }
  }
}

.nav-left {
  width: 180px;
  margin-top: -0.3rem;
  margin-left: 30px;
}

.nav-right a {
  padding: .3rem;
  color: $black; //TODO:: hoverの動作
  vertical-align: middle;
  &:hover {
    color: $black;
    opacity: 0.4;
    transition: all 0.3s;
  }
}
//ヘッダー右のドロップダウン
.nav-right ul {
  display: flex;
  height: 100%;
  a {
    padding:  .3rem 1rem;
    display: block;
  	padding: 0 15px;

  }
  li {
    &:hover > ul {
      display: flex;
      justify-content: space-around;
      transition: all 0.5s;
      cursor: pointer;
    }
  }
  ul {
    display: none;
    &:hover {
      display: flex;
      justify-content: space-around;
      transition: all 0.5s;
    }
    width: 100vw;
    top: 3.45rem;
    left: 0;
    background: $white;
    border-bottom: solid 3px #000;
    li {
      text-align: center;
      width: 100%;
      height: $header;
      a {
        width: 100%;
        height: 3.1rem;
        line-height: 3.10rem;
        &:hover {
          background-color: #ccc;
          color: #666;
        }
      }
    }
  }
}

//一時代ごとの高さを100vhに
.article {
  height: 100vh;
}

//タイトルSVG画像
.era-svg{
  top: 17%;
  left: 28%;
  width: 17%;
}


//地図とドット
.gio, .gio-dot {
  width: 1065px;
  height: 669px;
//  top: -30px;
  left: -25px;
}

.dot {
 font-size: 1.5rem;
 z-index: 9999;
 display: block;
}

//サイドバー
.sidebar {
  position: fixed;
  z-index: 1500;
  left: 40px;
  top: 100px;
  width: 200px;

  .ruler {
    border-left: solid 8px #000;
    height: 110vh;
    top: 0;
    margin-top: -10vh;
    float: left;
  }
}


//サイドバーの目盛り
.scale {
  display: flex;
  display: inline-block;
  left: 44px;
  z-index: 100;
  font-weight: bold;
  font-size: 0.95rem;
  &.scale-top {
    top: 10%;
  }
  &.scale-bottom {
    top: 94%;
  }
  &.scale-foot {
    top: 89%;
  }
}
.scale-bar {
  width: 30px;
  height: 6px;
  background-color: #000;
  vertical-align: middle;
  display: inline-block;
}


//サイドナビゲーション
.navigation{
    padding: 20px;
    position: fixed;
    left: 4%;
    top: 20%;
    left: 5%;
    top: 15%;
    z-index: 5000;
    li {
      list-style-type: none;
      line-height: 2rem;
      font-size: 0.85rem;
      color: #666;
      a.navigation-link{
        display: inline-block;
        &:hover{
          color: #f34;
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
}


.navigation-dot{
    border: 1px solid #000;
    border-radius: 1rem;
    display: inline-block;
    background: #fff;
    height: 0.8rem;
    width: 0.8rem;
    &.active {
      background: #000;
    }
}

//フッタ

footer{
  height: 30px;
  width: 100%;
  float: left;
  background-color: white;
  padding: 0 15px;
  &.up-footer {
    position: relative;
    top: -30px;
    z-index: 50000;
  }
}

.copyright{
  font-size: 10px;
  line-height: 30px;
  text-align: middle;
}



//記事ページフッタ


.article-footer {
  height: 100vh;
  width: 100%;
  padding-top: 20%;
}

.footer-icon {
  margin: 0 auto;
  text-align: center;
  width: 30%;
  margin-bottom: 60px;
  img{
    width: 438px;
    height: 99px;
  }
}


.footer-text{
  font-size: 0.8rem;
  color: #999;
  line-height:  1.5rem;
  margin-top: 50px;
  text-align: center;
  margin: 0 auto;
}


//ページローディング
#bodyLoading {
  display: none;
}
.body-loading-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  height: 100vh;
  padding: 70px 20px 70px 20px;
  img {
    opacity: 0.8;
    position: relative;
    z-index: 102;
    top: 38%;
    bottom: 50%;
    left: 45%;
    right: 45%;
  }
}

//記事ローディング
#articleLoading {
  display: none;
}
.article-loading-wrapper {
  background: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70vh;
  max-height: 600px;
  img {
    position: absolute;
    top: 35%;
    bottom: 50%;
    left: 40%;
    right: 50%;
  }
}
