/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require quill.snow
 */

@import "bootstrap";
@import "variable";

.container {
  padding-top: 3.47rem;
}
//ヘッダ
header {
  height: 3.47rem;
  width: 100%;
  background-color: $white;
  border-bottom: solid 3px #000;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  div {
    padding-top: 1rem;
    display: flex;
  	justify-content: space-between;
    font-weight: bold;
    nav a{
        padding: .3rem;
        color: $black; //TODO:: hoverの動作
    }
    &:last-child a{
      padding: .3rem 1rem;
    }
  }
}


//index
.article {
  height: 100vh;
}


.article-year {
  background: $white;
  border: solid 3px $black;
}

.gio {
  //背景がでかすぎて相対化できないのがまずい。レスポンシブで即死すると思われる
  width: 1065px;
  left: -67px;
  top: -5vh;
}


.article-body {
  border: solid 3px $black;
  height: 70vh;
  margin-top: 12vh;
  overflow: scroll;
  background: $white;
  z-index: 100;
}

.shadow {
  width: 97%;
  background: $white;
  border: solid 3px $black;
  height: 70vh;
  z-index: 1;
  top: 13.5%;
  left: 5%;
}
