@import "variable";

//編集画面系統
.destroy-btn {
  position: relative;
  top: -2.2rem;
}

.form-control[type="number"]{
width: 120px;
}

.ql-container.ql-snow {
  margin-bottom: 25px;
  height: 50vh;
  //テキストエリア内部の装飾はここ → 記事表示の部分と揃えると吉
}
